<div class="tabs-wrapper">
  <mat-tab-group
    [selectedIndex]="activeTab"
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    class="w-100"
  >
    <!-- Local Drafts Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">folder</mat-icon>
        <span class="tab-label">Local Drafts</span>
        @if (localCount() > 0) {
          <mat-chip [class.active-chip]="activeTab() === 0" class="count-chip">{{
            localCount()
          }}</mat-chip>
        }
      </ng-template>
    </mat-tab>

    <!-- My POVs Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">cloud_upload</mat-icon>
        <span class="tab-label">My POVs</span>
        @if (myCount() > 0) {
          <mat-chip [class.active-chip]="activeTab() === 1" class="count-chip">{{
            myCount()
          }}</mat-chip>
        }
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
